In [60]:
import pandas as pd
import numpy as np
import spacy
from tqdm import tqdm
from spacy.tokens import DocBin
import json
from youtube_transcript_api import YouTubeTranscriptApi
import string
import contractions
from sklearn.metrics import confusion_matrix, classification_report
from googleapiclient.discovery import build
import time

In [61]:
def create_train_test_data(files,file_name):
    classe = []
    annotations = []
    count = 0
    for file in files:
        json_f = open(F'D:/randomProjects/wamderly/data/annotations/{file}')
        nlp = spacy.blank("en")
        training_data = json.load(json_f)
        for i in training_data['classes']:
            classe.append(i)
        for i in training_data['annotations']:
            annotations.append(i)
        count = count + len(training_data['annotations'])
    final_json_file = {'classe':list(set(classe)),'annotations':annotations}
    with open(f'D:/randomProjects/wamderly/data/{file_name}.json', "w") as file:
        json.dump(final_json_file, file, indent=4)

    json_f = open(f'D:/randomProjects/wamderly/data/{file_name}.json')

    # # nlp = spacy.blank("en")
    training_data = json.load(json_f)
    # the DocBin will store the example documents
    db = DocBin()
    compleated=False
    missing_sent = []
    i=-1
    while not compleated:
        i = i+1
        run = 0
        try:
            for text, annotations in tqdm(training_data['annotations'][i:]):
                try:
                    run = run+1
                    doc = nlp.make_doc(text)
                    ents = []
                    for start, end, label in annotations['entities']:
                        span = doc.char_span(start, end, label=label, alignment_mode='contract')
                        ents.append(span)
                    doc.ents = ents
                    db.add(doc)
                except:
                    print(text)
            db.to_disk(f"D:/randomProjects/wamderly/data/{file_name}.spacy")
            print("Saved Success")
            compleated = True
        except:
            print('error')
            i = i + run

In [69]:
annotations_files_train = [
    'annotations_7cPLbiblb84.json',
    'annotations_p0MvovsCxCk.json',
    'annotations.json',
    'annotations_5zA6OFpkPe0.json',
]
annotations_files_test = [
    
    'annotations_Lv0PkSkKeSo.json',
    'annotation_rm_j6O8y148.json'
]
create_train_test_data(annotations_files_train,'train_data')
create_train_test_data(annotations_files_test,'test_data')

 66%|██████▌   | 269/410 [00:00<00:00, 1374.66it/s]

error

  2%|▏         | 3/140 [00:00<00:00, 428.91it/s]

error

  0%|          | 0/136 [00:00<?, ?it/s]

error

  0%|          | 0/135 [00:00<?, ?it/s]

error

  0%|          | 0/134 [00:00<?, ?it/s]

error

  0%|          | 0/133 [00:00<?, ?it/s]

error

  0%|          | 0/132 [00:00<?, ?it/s]

error

  0%|          | 0/131 [00:00<?, ?it/s]

error

  0%|          | 0/130 [00:00<?, ?it/s]

error

  2%|▏         | 2/129 [00:00<00:00, 667.88it/s]

error

  0%|          | 0/126 [00:00<?, ?it/s]

error

 25%|██▍       | 31/125 [00:00<00:00, 1276.91it/s]

error

100%|██████████| 93/93 [00:00<00:00, 1343.32it/s]

Saved Duccess

100%|██████████| 185/185 [00:00<00:00, 1796.11it/s]

Saved Duccess

In [ ]:
# ! python -m spacy init fill-config ../configs/base_config.cfg ../configs/config.cfg

In [71]:
# Model Training
! python -m spacy train ../configs/config.cfg --output ../ --paths.train ../data/train_data.spacy --paths.dev ../data/test_data.spacy

^C

### Model Testing

In [ ]:
json_f = open(F'D:/randomProjects/wamderly/data/annotations/annotations_7cPLbiblb84.json')
training_data = json.load(json_f)
nlp = spacy.blank("en")
i = -1
basic_database = dict()
compleated=False
while not compleated:
        i = i+1
        run = 0
        try:
            for text, annotations in tqdm(training_data['annotations'][i:]):
                try:
                    run = run+1
                    for start, end, label in annotations['entities']:
                        if label in basic_database.keys(): 
                            basic_database[str(label)].append(str(text[start:end]))
                        else:
                            basic_database[label] = []
                            basic_database[str(label)].append(str(text[start:end]))
                except:
                    # print(text)
                    continue
            # db.to_disk(f"D:/randomProjects/wamderly/data/{file_name}.spacy")
            print("Saved Duccess")
            compleated = True
        except:
            print('error')
            i = i + run 
basic_database

# import matplotlib.pyplot as plt

# Load your trained model
nlp = spacy.load('../models/ner_mod/model-best')

json_f = open(F'D:/randomProjects/wamderly/data/annotations/annotations_7cPLbiblb84.json')
training_data = json.load(json_f)

# Sample test texts and true entities
test_data = training_data['annotations']

y_true = []
y_pred = []

for text, annotations in test_data:
    doc = nlp(text)
    pred_entities = {(ent.start_char, ent.end_char): ent.label_ for ent in doc.ents}
    true_entities = {(start, end): label for start, end, label in annotations["entities"]}

    all_offsets = set(pred_entities.keys()) | set(true_entities.keys())

    for offset in all_offsets:
        y_true.append(true_entities.get(offset, "O"))
        y_pred.append(pred_entities.get(offset, "O"))

# Create confusion matrix
labels = sorted(set(y_true + y_pred))
cm = confusion_matrix(y_true, y_pred, labels=labels)

# Plot
df_cm = pd.DataFrame(cm, index=labels, columns=labels)
df_cm

In [ ]:
class_report = classification_report(y_true, y_pred, labels=labels)
print("Classification Report:")
print(class_report)

### Key word Extractring

In [ ]:
# {
#     'LEM':{
#         'word': str,
#         'ENT': str,
#         'keywords': list,
#         'suggested_by': list,
#         'rating': int
#     }
# }

In [ ]:
# import requests

# # Replace with your API key and the channel ID
# # API_KEY = "YOUR_API_KEY"
# CHANNEL_ID = "UC_P_sA6Jf3iSsFueMwIP3vg"

# # Construct the API request URL
# # url = f"https://www.googleapis.com/youtube/v3/channels?part=statistics&id={CHANNEL_ID}&key={API_KEY}"
# url = f"https://www.googleapis.com/youtube/v3/videos?part=statistics&id={video_id}&key={API_KEY}"

# # Make the API request
# response = requests.get(url)

# # Check if the request was successful
# if response.status_code == 200:
#     # Parse the JSON response
#     data = response.json()

#     # Extract the subscriber count
#     if 'items' in data and len(data['items']) > 0:
#         # subscriber_count = data['items'][0]['statistics']['subscriberCount']
#         # print(f"Subscriber Count: {subscriber_count}")
#         print(data['items'])
#     else:
#         print("Channel not found or error in response.")
# else:
#     print(f"Error: {response.status_code}")

In [46]:

API_KEY = 'AIzaSyBG7X8oJ1CYdPZd7F4gSo605Jf-EfD7IHM'
def get_video_statistics(video_id): 
    # video_id = '7cPLbiblb84'
    try:
        youtube = build('youtube', 'v3', developerKey=API_KEY)

        request = youtube.videos().list(
            part=['snippet','statistics'],
            id=video_id
        )
        response = request.execute()
        stats = response['items'][0]['statistics']
        viewCount = stats['viewCount'] if 'viewCount' in stats.keys() else 0
        likeCount = stats['likeCount'] if 'likeCount' in stats.keys() else 0
        commentCount = stats['commentCount'] if 'commentCount' in stats.keys() else 0 
        channelId = response['items'][0]['snippet']['channelId']
        channel_name = response['items'][0]['snippet']['channelTitle']

        print(response['items'][0]['statistics'],channelId,channel_name)
        
        return int(viewCount),int(likeCount),int(commentCount),channel_name,channelId
    except Exception as e:
        print(e)

In [48]:
def get_channel_statistics(channelId):
    try:
        youtube = build('youtube', 'v3', developerKey=API_KEY)
        request_channel =  youtube.channels().list(
            part=['statistics'],
            id=channelId
        )
        response_channel = request_channel.execute()
        subscriberCount= response_channel['items'][0]['statistics']['subscriberCount']
        return int(subscriberCount)
    except Exception as e:
        print(e)

In [49]:
def cleaning_sentence(text):
    text = text.lower()
    PUNCT_TO_REMOVE = string.punctuation
    ans = contractions.fix(text).translate(str.maketrans('', '', PUNCT_TO_REMOVE))
    ans = ans.replace('music','')
    ans = ans.replace("  ",' ')
    ans = " ".join(ans.split())
    return ans

In [72]:
test_video_ids = [
    'p0MvovsCxCk',
    '7cPLbiblb84',
    'rm_j6O8y148',
    'Lv0PkSkKeSo',
    '5zA6OFpkPe0',
    'Oz18u64bM8I',
    'p0MvovsCxCk',
    '7cPLbiblb84'
]
nlp_ner = spacy.load('../model-best')
nlp     = spacy.load("en_core_web_sm")
ner     = dict()
    
for video_id in test_video_ids:
    try:
        print(video_id)
        
        viewCount,likeCount,commentCount,channel_name,channelId = get_video_statistics(video_id)
        subscriberCount = get_channel_statistics(channelId)
        
        file = open(f'D:/randomProjects/wamderly/data/transcripts/transcript_{video_id}.txt',"r")
        file_c = open(f'D:/randomProjects/wamderly/data/transcripts/transcript_{video_id}.txt',"r")
        file_string = file_c.read()
        for text in file:
            doc_ner = nlp_ner(cleaning_sentence(text)) 

            for ent in doc_ner.ents:
                # print(ent,'->', ent.label_)
                
                doc = nlp(ent.text)

                rating = file_string.count(ent.text) + ((viewCount+likeCount+commentCount+subscriberCount)/(subscriberCount))
        
                lemma = ' '.join([token.lemma_ for token in doc])
                if lemma in ner.keys():
                    # ner[ent.label_].append(ent.text)
                    ner[lemma]['ENT'].add(ent.label_)
                    ner[lemma]['rating'] = (rating+ner[lemma]['rating'])/2
                    ner[lemma]['suggested_by'].add(channel_name)
                else:
                    # ner[ent.label_] = [ent.text]
                    ner[lemma] = {
                        'word': ent.text,
                        'ENT': set([ent.label_]),
                        # 'keywords': list,
                        'suggested_by': set([channel_name]),
                        'rating': rating
                    }
            # print('--x-x-x--x-x-x-x-x-x-x---x-x-x--')
    except Exception as e:
        print(e)
# tokkenization()
df = pd.DataFrame(ner)
df = df.T
df = df.reset_index().rename(columns={'index':'lemma_word'})
df

p0MvovsCxCk
{'viewCount': '276661', 'favoriteCount': '0', 'commentCount': '97'} UCoCU-RvDqV1JgmbRgh79UTQ Singhsman
7cPLbiblb84
{'viewCount': '2023225', 'likeCount': '16150', 'favoriteCount': '0', 'commentCount': '861'} UC_P_sA6Jf3iSsFueMwIP3vg TheSocialTraveller
rm_j6O8y148
{'viewCount': '172459', 'likeCount': '2277', 'favoriteCount': '0', 'commentCount': '78'} UCQ0X2x6lozB7qG30ctFeUiA Saturday Shooters
Lv0PkSkKeSo
{'viewCount': '115050', 'likeCount': '2196', 'favoriteCount': '0', 'commentCount': '189'} UC2N5r2FvEOiDPKvaLW9rivw Aniruddha Patil
5zA6OFpkPe0
{'viewCount': '10179', 'likeCount': '201', 'favoriteCount': '0', 'commentCount': '33'} UCCq9CLWwVP4fdYy2N_ypTjg Sisters vs Globe
Oz18u64bM8I
{'viewCount': '9910', 'likeCount': '169', 'favoriteCount': '0', 'commentCount': '36'} UC-w8ULGFYLrjbdsZ6twWO3Q Travel Tales
p0MvovsCxCk
{'viewCount': '276666', 'favoriteCount': '0', 'commentCount': '97'} UCoCU-RvDqV1JgmbRgh79UTQ Singhsman
7cPLbiblb84
{'viewCount': '2023225', 'likeCount': '16150', 'favoriteCount': '0', 'commentCount': '861'} UC_P_sA6Jf3iSsFueMwIP3vg TheSocialTraveller

,lemma_word,word,ENT,suggested_by,rating
0,sindhi dal pakwan,sindhi dal pakwan,{FOOD},{Singhsman },19.855516
1,dal pakwan,dal pakwan,{FOOD},{Singhsman },23.855597
2,kudi chola chola bhatura,kudi chola chola bhatura,{FOOD},{Singhsman },19.855516
3,moong dal,moong dal,{FOOD},{Singhsman },19.855516
4,chickpea,chickpeas,{FOOD},{Singhsman },19.855516
...,...,...,...,...,...
182,assalam wala,assalam wala,{FOOD SHOP},{Travel Tales},3.014544
183,ram pura,ram pura,{LANDMARK},{Travel Tales},3.014544
184,maggi,maggi,{FOOD},{Travel Tales},3.014544
185,khana wali,khana wali,{LANDMARK},{Travel Tales},3.014544
186,arun bhai,arun bhai,{FOOD SHOP},{Travel Tales},4.014544

In [73]:
df['ENT_len'] = df['ENT'].apply(lambda x: len(list(x))) 
df['ENT_max'] = df['ENT'].apply(lambda x: (list(x))[0])
# df = df[df['ENT_len']==1]

In [74]:
df[df['lemma_word']!=df['word']]

,lemma_word,word,ENT,suggested_by,rating,ENT_len,ENT_max
4,chickpea,chickpeas,{FOOD},{Singhsman },19.855516,1,FOOD
37,kacha papad of which thing be you make spinach...,kacha papad of which thing are you making spin...,{FOOD SHOP},{Singhsman },19.855516,1,FOOD SHOP
51,skykisse tower,skykissing tower,{LANDMARK},{TheSocialTraveller},35.611796,1,LANDMARK
75,khilwat niwa,khilwat niwas,{LANDMARK},{TheSocialTraveller},35.611796,1,LANDMARK
78,lakshmi vila,lakshmi vilas,{LANDMARK},{TheSocialTraveller},36.611796,1,LANDMARK
112,strictly follow,strictly followed,{LANDMARK},{TheSocialTraveller},36.611796,1,LANDMARK
113,daytoday activity,daytoday activities,{LANDMARK},{TheSocialTraveller},36.611796,1,LANDMARK
116,diwane kha,diwane khas,{LANDMARK},{TheSocialTraveller},36.611796,1,LANDMARK
133,sun ray,sun rays,{LANDMARK},{Saturday Shooters},3.533456,1,LANDMARK
137,start,starting,{AREA},{Saturday Shooters},3.533456,1,AREA

In [75]:
df[df['ENT_max']=='LANDMARK'].sort_values(by='rating',ascending=False).head(10)

,lemma_word,word,ENT,suggested_by,rating,ENT_len,ENT_max
46,hawa mahal,hawa mahal,{LANDMARK},"{Aniruddha Patil, Sisters vs Globe, Saturday S...",69.611796,1,LANDMARK
67,amer fort,amer fort,{LANDMARK},"{Aniruddha Patil, Sisters vs Globe, Saturday S...",46.011464,1,LANDMARK
119,nahar,nahar,{LANDMARK},{TheSocialTraveller},44.611796,1,LANDMARK
58,jantar mantar,jantar mantar,{LANDMARK},"{Aniruddha Patil, Saturday Shooters, TheSocial...",44.003196,1,LANDMARK
47,albert hall,albert hall,{LANDMARK},{TheSocialTraveller},43.611796,1,LANDMARK
66,jaigarh fort,jaigarh fort,{LANDMARK},"{Saturday Shooters, TheSocialTraveller}",43.378838,1,LANDMARK
48,albert hall museum,albert hall museum,{LANDMARK},{TheSocialTraveller},42.611796,1,LANDMARK
72,nahargarh,nahargarh,{LANDMARK},{TheSocialTraveller},41.611796,1,LANDMARK
68,sheesh mahal,sheesh mahal,{LANDMARK},"{Aniruddha Patil, Saturday Shooters, TheSocial...",40.065608,1,LANDMARK
59,jantarmantar,jantarmantar,{LANDMARK},{TheSocialTraveller},39.611796,1,LANDMARK

In [76]:
df[df['ENT_max']=='FOOD'].sort_values(by='rating',ascending=False)

,lemma_word,word,ENT,suggested_by,rating,ENT_len,ENT_max
124,diwaneaam,diwaneaam,{FOOD},{TheSocialTraveller},37.611796,1,FOOD
62,ramnivasgarden,ramnivasgarden,{FOOD},{TheSocialTraveller},35.611796,1,FOOD
10,paneer,paneer,{FOOD},{Singhsman },34.855516,1,FOOD
5,dal,dal,{FOOD},{Singhsman },33.855516,1,FOOD
25,tea,tea,{FOOD},{Singhsman },31.855516,1,FOOD
1,dal pakwan,dal pakwan,{FOOD},{Singhsman },23.855597,1,FOOD
16,paneer tikka,paneer tikka,{FOOD},{Singhsman },23.855516,1,FOOD
20,rabri,rabri,{FOOD},{Singhsman },21.855637,1,FOOD
6,chole,chole,{FOOD},{Singhsman },21.855516,1,FOOD
39,tikki,tikki,{FOOD},{Singhsman },20.855516,1,FOOD
43,dal ghee wali,dal ghee wali,{FOOD},{Singhsman },19.855516,1,FOOD
42,paneer tikka butter masala,paneer tikka butter masala,{FOOD},{Singhsman },19.855516,1,FOOD
36,khichha chaat,khichha chaat,{FOOD},{Singhsman },19.855516,1,FOOD
28,dal kachori onion kachori,dal kachori onion kachori,{FOOD},{Singhsman },19.855516,1,FOOD
26,samosa wala,samosa wala,{FOOD},{Singhsman },19.855516,1,FOOD
0,sindhi dal pakwan,sindhi dal pakwan,{FOOD},{Singhsman },19.855516,1,FOOD
22,bejar roti,bejar roti,{FOOD},{Singhsman },19.855516,1,FOOD
21,garlic chutney,garlic chutney,{FOOD},{Singhsman },19.855516,1,FOOD
12,malai paneer tikka,malai paneer tikka,{FOOD},{Singhsman },19.855516,1,FOOD
11,paneer sill paneer raw paneer,paneer sill paneer raw paneer,{FOOD},{Singhsman },19.855516,1,FOOD
7,tamarind chutney,tamarind chutney,{FOOD},{Singhsman },19.855516,1,FOOD
4,chickpea,chickpeas,{FOOD},{Singhsman },19.855516,1,FOOD
3,moong dal,moong dal,{FOOD},{Singhsman },19.855516,1,FOOD
2,kudi chola chola bhatura,kudi chola chola bhatura,{FOOD},{Singhsman },19.855516,1,FOOD
142,stepwell,stepwell,{FOOD},{Aniruddha Patil},5.37163,1,FOOD
135,tuktuk,tuktuk,{FOOD},{Saturday Shooters},3.533456,1,FOOD
181,doobi,doobi,{FOOD},{Travel Tales},3.014544,1,FOOD
184,maggi,maggi,{FOOD},{Travel Tales},3.014544,1,FOOD
147,kesar kari bagh,kesar kari bagh,{FOOD},{Aniruddha Patil},2.37163,1,FOOD
165,sambar salt,sambar salt,{FOOD},{Aniruddha Patil},2.37163,1,FOOD

In [78]:
def get_context_window(id, text, window_size=50):
    file = open(f'D:/randomProjects/wamderly/data/transcripts/transcript_{id}.txt',"r")
    file_string = file.read()
    # loc = 'city palace'
    start = file_string.find(text)
    end = file_string.rfind(text)
    context_text = (file_string[start-window_size:end+window_size])
    return context_text

In [79]:
get_context_window('rm_j6O8y148','city palace')

's the next place which you can visit in jaipur is city palace\nwhen you buy the ticket you will also get a map here so that you will be able to see which places you can visit\nas soon as you enter the city palace the first thing you will see is mubarak mahal\nafter the taj mahal this is the most beautiful place in india\nthis is the second building which is visible from all sides\nat this time a museum has been built inside mubarak mahal where photography is not allowed\napart from this you can visit the art gallery weapon gallery and after this you can visit diwan aam and diwan khas\nhere you will get to see a jug made of silver which is the worlds biggest jug\nthe height of this jug is 53 feet and its weight is 300 kg without water and with water its weight becomes about 4000 kg\nthe name of this jug is also included in the gis book of world records\nthe timings to visit here are from 930 am to 730 pm\nthese people give the last entry till around 600 pm\nafter this the next place which you can visit in jaipur is jantar mantar\njantar mantar is situated just next to the city palace\nkeep one thing in mind that you should'

In [88]:
from rake_nltk import Rake
import nltk
nltk.download('stopwords')

# Uses stopwords for english from NLTK, and all puntuation characters by
# default
r = Rake()

# Extraction given the text.
a = get_context_window('rm_j6O8y148','city palace')
# r.extract_keywords_from_text(a.replace('\n'," "))

# Extraction given the list of strings where each string is a sentence.
r.extract_keywords_from_sentences(a.replace('\n'," "))

# To get keyword phrases ranked highest to lowest.
# r.get_ranked_phrases()

# To get keyword phrases ranked highest to lowest with scores.
b = r.get_ranked_phrases_with_scores()
for rating,keyword in b:
    if rating>5:
        print(rating,keyword)

[nltk_data] Downloading package stopwords to C:\Users\Jatin
[nltk_data]     Arora\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!